.flex{
display: flex;
justify-content: center;
align-items: center;

}
body{
    background-image: url("h.gif");
}



.maimmagine{
       height: 400px;
       width: 800px;
       border-radius: 15px;
       border: solid white;

   }





@media screen and (max-width: 500px) {
   .maimmagine{
       width: 400px;
       height: 200px;
       
       
   }
   
   }

 